certifi==2017.11.5
chardet==3.0.4
click==6.7
cozmo==1.2.0
cozmoclad==2.2.0
cycler==0.10.0
decorator==4.0.11
Django==1.11.7
fysom==2.1.5
idna==2.6
matplotlib==2.0.2
mpld3==0.3
networkx==1.11
nltk==3.2.5
numpy==1.13.0
oauthlib==2.0.6
olefile==0.44
opencv-contrib-python==3.4.0.12
pandas==0.20.3
Pillow==4.1.1
praw==5.2.0
prawcore==0.12.0
pydicom==0.9.9
pygame==1.9.3
pylinac==2.0.1
pyparsing==2.2.0
pysentiment==0.1.2.1
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.19.1
selenium==3.5.0
six==1.10.0
sk-video==1.1.10
torch==0.3.0.post4
torchvision==0.2.0
tqdm==3.8.0
twython==3.6.0
update-checker==0.16
urllib3==1.22
yagmail==0.8.171
