@import url(https://fonts.googleapis.com/css?family=Roboto:300);


html {
    font-family: "Roboto", sans-serif;

}


button.record {
    border-width: .5rem;
    border-radius: 1rem;
    border-color:"red";
}

.h-center  {
    margin: auto;

}

.content {
    margin-top: 10%;
}