doctype html
html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="styles/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="styles/session.css")

        title= pageTitle
        script(src='js/jquery-3.2.1.min.js')
        script(src='js/scripts.js')
    body
    nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
        a(class="navbar-brand", href="#") Jottr
        div(id="navbarNav" class="collapse navbar-collapse container") 
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/session/")
                        | Home 
                    
                li.nav-item.active
                    a.nav-link(href="#") 
                        | Meetings

    
    div(class="content container")
      div(class="meetings-tab")
        ul(class="list-group")
            each meeting in meetings
                li.list-group-item #{meeting}
            

            

