doctype html
html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="/styles/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/styles/session.css")

    title= pageTitle
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/scripts.js')
  body
    nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
      a(class="navbar-brand", href="#") Jottr
      div(id="navbarNav" class="collapse navbar-collapse container") 
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="#")
              | Home 
              span.sr-only (current)
                
            li.nav-item
              a.nav-link(href="/meetingsio") Meetings


    
    div(class="content container")
      div(class="record-tab")
        div(class="row")
          div(class="record-pad h-center")
            button(class="record btn btn-outline-primary btn-lg") Record 
       
     
